@page "/challengeone"
@rendermode InteractiveWebAssembly

@inject HttpClient Http;

<div class="container-xxl my-3">
    <h3 class="ctaTitle">Challenge One</h3>
    <p class="ctaSubtitle">Display a list of all of the customers in the database oredered by last name.</p>


@if(isLoading == false){
    <table class="table table-striped table-primary shadow">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in customers){
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <p>Loading...</p>
}

</div>

@code {
    private List<Customer> customers = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync(){
        try{
            customers = await Http.GetFromJsonAsync<List<Customer>>("api/Customers/GetAllCustomers");
        }
        catch{
            customers = new List<Customer>();
        }
        isLoading = false;

    }
}
